/*=============== LOGO ================*/
header {
    top: 10px;
    left: 10px;
    right: 10px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(44, 40, 40);
    border: 2px solid rgb(44, 40, 40);
    border-radius: 30px;
    padding: 20px;
    box-sizing: border-box;
}
header::before {
    content: "";
    position: absolute;
    top: -12px;
    left: -10px;
    right: -20px;
    height: 11px;
    background-color: white;
}
header.hide {
    transform: translateY(-120%);
}

.logo img {
    width: 120px;
}
.search {
    width: 500px;
    background-color: white;
    padding: 10px 15px;
    border-radius: 30px;
    margin-right: 50px;
}
.search img {
    width:23px;
    position: relative;
    top: 3.5px;
    left: 2px;
}

.search input {
    border: none;
    outline: none;
    width: 90%;
    font-size: 16px;
    position: relative;
    bottom: 3px;
}

.account {
    color: white;
    font-size: 25px;
    cursor: pointer;
}
.account img {
    width: 30px;
    margin-right: 15px;
}
/*===================================================*/
/*=====================FOOT==========================*/
footer {
    display: flex;
    justify-content: left;
    gap: 350px;
    align-items: center;
    background-color: rgb(44, 40, 40);
    color: white;
    padding: 30px 60px;
    border-radius: 15px;
}

.footer-logo img {
    width: 100px;
}
.footer-info {
    margin-left: -300px;
    margin-right: 400px;
}
.footer-info p {
    white-space: pre-wrap;
    margin: 8px 0;
}

.footer-social {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    margin-top: -25px;
    cursor: default;
}
.social-icon {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: -5px;
}
.social-icon img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    cursor: pointer;
    transition: 0.2s;
}
.social-icon img:hover {
    transform: scale(1.2);
}

/*=============================================*/
/* ============ GIỚI THIỆU ============ */
.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 500px;
    padding: 50px 100px;
    margin: 30px 10px 30px 10px;
    background-color: rgb(44, 40, 40);
    border-radius: 20px;
}

.intro-text {
    color: white;
    margin-left: 50px;
}

.intro-text h1 {
    font-size: 50px;
    margin-bottom: 15px;
}

.intro-text p {
    font-size: 20px;
    margin-bottom: 30px;
}

.intro-img {
    width: 45%;
    text-align: center;
}

.intro-img img {
    width: 100%;
    max-width: 600px;
    object-fit: contain;
}
button {
    border: 2px solid black;
    border-radius: 25px;
    width: 120px;
    padding: 20px;
    color: white;
    background-color: black;
    transition: 0.3s;
    font-weight: bold;
}
button:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: black;
    box-shadow: 0 3px 10px black;
}
